
@import "base/base.scss";
body {
    color: var(--soft-red);
    .comming-soon {
        display: grid;
        width: 100%;
        height: 100%;
        overflow: hidden;
        grid-template-rows: 5rem 20rem 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "head"
                             "img"
                             "cont";
        .header {
            padding: 1.5rem;
            background-color: var(--gradient-white);
            grid-area: head;
        };
        .hero-img {
            grid-area: img;
            overflow: hidden;
            img {
                width: 100%;
            }
        };
        .hero-content {
            grid-area: cont;
            background-color: var(--gradient-white);
            max-width: 24rem;
            margin: 0 auto;
            text-align: center;
            padding: 1rem;
            position: relative;
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: -1;
            }
            .title {
                font-size: 2.8rem;
                font-weight: 400;
                margin: 1.5rem;
                line-height:4rem;
                text-transform: uppercase;
                color: var(--brown);
                span {
                    font-weight: 300;
                    color: var(--soft-red)
                }
            }
            .artical {
                margin: 1rem;
                line-height: 1.5rem;
            }
            .form {
                position: relative;
                margin-top: 2rem;
                padding-bottom: 2rem;
                .email-input {
                    width: 80%;
                    padding: .8rem;
                    border: 1px solid var(--brown);
                    border-radius: 2rem;
                    font-family: inherit;
                    //background-color: transparent
                    &:focus {
                        outline: none;
                        border: 1px solid var(--soft-red);
                    }
                }
                .error-msg {
                    display: none;
                    margin-top: .7rem;
                }
                .btn {
                    background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
                    border: none;
                    width: 4.5rem;
                    padding: .7rem;
                    border-radius: 1.5rem;
                    position: absolute;
                    top: -.1rem;
                    right: .8rem;
                    transition:all .3s;
                    &:hover {
                        width: 4rem;
                    }
                }
                i {
                    display: none;
                }
            }
            .active {
                .email-input {
                    border: 1px solid var(--red);
                }
                .error-msg {
                    color:var(--red); 
                }
                i {
                    color:var(--red);
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: .7rem;
                    right: 5.5rem;    
                }
                .error-msg  {
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 900px){
    body {
        .comming-soon {
            height: 100vh;
            grid-template-columns: 1fr .8fr;
            grid-template-rows: 5rem auto;
            grid-template-areas: "head img" 
                                 "cont img";
            .header {
                img {
                    margin-left: 7%;
                }
            }
            .hero-img {
                overflow: hidden;
                img {
                    width:auto;
                }
            }
            .hero-content {
                text-align: start;
                margin-top: 2rem;
//                margin: auto;
                .bg {
                    position: absolute;
                    top: -7rem;
                    left: -10rem;
                    bottom: 0;
                    width: 190%;
                    z-index: -1;
                }
                .title {
                    font-size: 4rem;
                    letter-spacing: 1.3rem;
                }
            }
        }
    }
}